<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Travel App</title>
</head>

<body>

    <header>
        <h1>Travel App </h1>
        <div class="subHead">
            Let check the waether !!
        </div>
    </header>

    <main id="inputs">
        <section class="inputs">
            <form onsubmit="return Client.handleSubmit(event)">

                <div class="city">
                    <label>What is your destination?</label>
                    <input id="city" type="text" name="input" value="" placeholder="Enter a city">
                </div>

                <div class="start">
                    <label for="startDate"> From:</label>
                    <input type="date" id="from" onblur="return Client.setDate(event)"
                        onclick="return Client.setDate(event)">
                </div>

                <div class="end">
                    <label for="endDate">To:</label>
                    <input type="date" id="to">

                </div>

                <button id="submit" type="submit" name="" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">Check</button>
            </form>
        </section>


        <section id="result" class="hide">
            <div class="result">

                <figure>
                    <img id="img">
                </figure>
                <figcaption id="figcaption"></figcaption>

                <p>
                <h2>Your destination is: <span id="cityAndCountry"></span></h2>
                </p>
                <p>
                <h3>It's <span id="days"></span> days</h3>
                </p>
                <p>
                <h3>The tempreture is: <span id="temp"></span> dgree</h3>
                </p>
                <p>
                <h3>Description: <span id="description"></span> dgree</h3>
                </p>
            </div>
        </section>
    </main>

    <footer>
        <p>Pwored by Reema © 2023</p>
    </footer>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
                    .then(reg => console.log('Service Worker work'))
                    .catch(err => console.log('Error: ', err))
            });
        }
    </script>

</body>

</html>