
body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color:#4e6350;
    background-image: url(../../../wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

main{
    display: flex;
    justify-content: space-around;
}
#inputs{
    margin-top: 5rem;
}

.subHead{
    margin: 0rem;
    font-size: large;
}

label{
    font-size: large;
    width: 100%;
}

input{
    height: 2.5rem;
    border: none;
    width: 93%;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-size: large;
    padding: 0.5rem 1rem;
    color:#858484 ;
}

.city,.start,.end{
    margin-bottom: 3rem;
}

footer{
    display: flex;
    justify-content: center;
}

button{
    background-color: transparent;
    border: 1px solid #4e6350;
    padding: 1rem;
    border-radius:1rem;
    width: 100%;
    background-color: rgb(255, 252, 252);
    color:#4e6350;
    font-weight: bolder;
    font-size: large;
}

button:hover{
    cursor :pointer;
}

::placeholder,#from,#to{
    font-size:medium;
    color:#858484;
}

.hide {
    display: none !important;
}

input:focus{
    outline: none ;
    border: 1px solid #4e6350 ;
}

.result{
    display: flex;
    align-items:center;

}

